.app {
    text-align: center;
    margin: 20px;
}

.button {
    margin: 5px;
    background-color: #4bc37c;
    color: black;
}

.input {
    background-color: #a6eec7;
}

.span {
    color: black;
    background-color: #a6eec7;

}
.button-r {
    background-color: red;
}



